extends layout/layout

block vars
  - pageTitle = "Register for an identity profile - GOV.UK"
  - bodyClass = "home"
  - showRelatedContent = true

block h1
  | Register for an identity profile

block content
  article(role="article")
    .summary
      p This is a service to test registration to the Identity Assurance Programme. This service has been set up to allow certified companies to trial their customer registration and sign-in process.
    h2 Before you start
    p You should know that:
    ul
      li you will be creating a real identity profile with a certified company.
      li the identity profile you create can be used to access government services online once they start to use the Identity Assurance service.
      li to create your identity profile you will need to verify your identity online with a certified company.
    form(action='/test-rp/success', method='get')
      p
        input.no-match(type="checkbox", name="no-match")
        | Should not match user? (user account creation)

      p
        input.fail-account-creation(type="checkbox", name="fail-account-creation")
        | Should fail account creation?

      p
        input#loa1-rp(type="radio", name="rp-name-radio", value="loa1-test-rp", onclick='setRpName(this)')
        | Use LoA1 test RP?

      p
        input#forceauthn-noc3-rp(type="radio", name="rp-name-radio", value="test-rp-noc3", onclick='setRpName(this)')
        | Use ForceAuthn and no-cycle3 test RP?

      p
        input#non-eidas-rp(type="radio", name="rp-name-radio", value="test-rp-non-eidas", onclick='setRpName(this)')
        | Use non eidas test RP?

      p
        label(for="journey_hint") Journey hint:
        select(name="journey_hint")
          option(value="none", selected="true") None
          option(value="submission_confirmation") Non-repudiation
          option(value="registration") Registration
          option(value="uk_idp_sign_in") Sign-in with Verify
          option(value="eidas_sign_in") Sign-in with eIDAS
          option(value="unspecified") Unspecified

      p
        label(for="rp-name") Overridden RP Name
        input#rp-name(type="textbox", name="rp-name")
      p
        input.button.get-started(type="submit", value="Start")

  script.
    function setRpName(element) {
      if (element.checked) {
        document.getElementById("rp-name").value = element.value
      } else {
        document.getElementById("rp-name").value = ''
      }
    }

block relatedContent
  h2 More about identity assurance
  nav
    ul(role="navigation")
      include layout/side_links

