*.class
build
!docker/build
.DS_Store
.gradle
gradlew.bat
.idea
*.iml
*.ipr
*.iws
out/**
# Package Files #
*.log
apps-home
apps-local-data
configuration/dev-local
configuration/erb/
configuration/local-virtualbox
configuration/vagrant/
jmeter/*errors*.csv
*.swp
/artefacts/
*.deb
*~
\#*#
docker/run/*.ts
docker/run/*.crt
docker/run/*.ks
docker/run/*.pk8
local.env
sample_rp_signing_primary.*
sample_rp_signing_secondary.*
